header {
    color: blue;
    font-family: fantasy;
    font-size: 200%;
}
table.Form {
    width : 30%;
    background-color: antiquewhite;

}
body{
    background-color: gray;
}
span.errorAns{
    color: red;
}

span.badAns{
    color: red;
}

span.goodAns{
    color: green;
}